<div class="h-screen flex flex-col">
  <app-nav-bar></app-nav-bar>
  <main class="flex flex-row flex-none flex-grow">
    <!--  -->
    <div *ngIf="(sidebarService.onSidebarToggle | async)?.oppened; $implicit as result;"
      class="w-72 bg-gray-900 transition ease-linear duration-1000 hidden md:block"
      >
      <!-- [ngClass]="{'opacity':result,'ease-in-out duration-500':!result}" -->
      <app-side-bar></app-side-bar>
    </div>
    <div class="w-full py-6 sm:px-6 lg:px-8 flex-grow">
      Content
    </div>
  </main>
</div>