<div class="border-t border-gray-300 dark:border-gray-800 dark:bg-gray-900 w-full px-4 sm:px-6 lg:px-8 bg-gray-200 dark:text-gray-300">
  <div class="flex items-center justify-between h-16">
    <div>Angular Dashboard | Tailwind CSS</div>
    <div class="text-sm text-gray-500">
      Build with <i class="fas fa-heart text-red-500"></i> by <a href="anastasios.theodosiou.me" target="_blank"
        class="text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300">Anastasios Theodosiou</a> - <i class="far fa-copyright"></i> 2021
    </div>
  </div>
</div>